<div>
  <%= form_for(:digital, :url => admin_product_digitals_path(@product), :method => :create, :multipart => true ) do |f| %>
    <fieldset>
      <legend class="h4 pl-0">Add Video</legend>
      <% if variant.digital? %>
        <table class="table">
          <thead>
          <tr>
            <th><%= Spree.t(:file_name, scope: "spree_digital") %></th>
            <th>Item</th>
            <th class="actions"></th>
          </tr>
          </thead>
          <tbody>
          <% variant.digitals.each do |digital| %>
            <tr>
              <td><%= render digital %></td>
              <td><%= image_tag Rails.application.routes.url_helpers.rails_blob_path(digital.attachment, only_path: true), width: 30, height: 40 %></td>
              <td class="actions text-right">
                <%= link_to_with_icon 'delete', Spree.t(:delete_file, scope: 'digitals'), admin_product_digital_url(@product, digital), data: {confirm: Spree.t(:delete_file_confirmation, scope: 'digitals', filename: digital.attachment_file_name)}, method: :delete, class: 'btn btn-danger btn-sm delete-resource' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

      <div class="form-group">
        <%= f.label :file, Spree.t(:add_new_file, scope: 'digitals') %> <span class="required">*</span><br/>
        <%= f.file_field :attachment, accept: "video/*" %>
        <%# if @product&.activity&.name&.downcase == "short video" %>

        <%# elsif @product.activity.name.downcase == "shout out"%>
        <%#= f.file_field :attachment, accept: "image/png, image/jpeg, image/jpg" %>
        <%# end %>
        <%= hidden_field_tag 'digital[variant_id]', variant.id %>
        <%= hidden_field_tag 'digital[duration]', 4 %>
        <%= button Spree.t(:upload, scope: "spree_digital"), 'add', 'submit', { :class => "btn btn-primary", id: 'btn_video_upload' } %>
      </div>
      <div class="alert alert-success">
        <strong>Info!</strong> <span id="video_info_message"></span>
      </div>
      <div class="alert alert-info">
        <strong>Info!</strong> <span id="video_duration_message"></span>
      </div>
    </fieldset>
  <% end %>
</div>
<script>
  $('.alert-success').hide();
  $('.alert-info').hide();
  $('#btn_video_upload').hide();
  $('#digital_duration').val("");
  var myVideos = [];

    window.URL = window.URL || window.webkitURL;

    document.getElementById('digital_attachment').onchange = setFileInfo;

    function setFileInfo() {
        var ext = $(this).val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['mp4', 'mp3', 'wav', 'mpg', 'wmv', 'avi']) == -1) {
            $('#video_info_message').text('Invalid video format, accept only mp4, mp3, wav, mpg, wmv, avi')
            $('.alert-success').show();
            $("#digital_attachment").val("");
            return false;
        }
        var files = this.files;
        myVideos.push(files[0]);
        var video = document.createElement('video');
        video.preload = 'metadata';

        video.onloadedmetadata = function() {
            window.URL.revokeObjectURL(video.src);
            var duration = video.duration;
            myVideos[myVideos.length - 1].duration = duration;
            $('#digital_duration').val(duration);
            videoDuration();
            updateInfos();
        }

        video.src = URL.createObjectURL(files[0]);;
    }

    function videoDuration() {
        let durationIdex = myVideos.length - 1
        if (parseInt(myVideos[durationIdex]["duration"]) > 10){
            $('.alert-success').show();
            $('#btn_video_upload').show();
            $('#video_info_message').html('your video is added into the Shout Out activity');
        }else{
            $('#video_info_message').html('your video is added into the Quick Shout activity');
            $('#btn_video_upload').show();
            $('.alert-success').hide();
        }
    }

    function updateInfos() {
        $('.alert-info').show();
        $('.alert-success').show();
        for (var i = 0; i < myVideos.length; i++) {
            $('#video_duration_message').html(myVideos[i].name + " duration: " + parseInt(myVideos[i].duration) + ' sec'+ '\n');
        }
    }
</script>